###### Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz.

In [41]:
import seaborn as sns 
df = sns.load_dataset("car_crashes")
df.columns
df.info

<bound method DataFrame.info of     total  speeding  alcohol  ...  ins_premium  ins_losses  abbrev
0    18.8     7.332    5.640  ...       784.55      145.08      AL
1    18.1     7.421    4.525  ...      1053.48      133.93      AK
2    18.6     6.510    5.208  ...       899.47      110.35      AZ
3    22.4     4.032    5.824  ...       827.34      142.39      AR
4    12.0     4.200    3.360  ...       878.41      165.63      CA
5    13.6     5.032    3.808  ...       835.50      139.91      CO
6    10.8     4.968    3.888  ...      1068.73      167.02      CT
7    16.2     6.156    4.860  ...      1137.87      151.48      DE
8     5.9     2.006    1.593  ...      1273.89      136.05      DC
9    17.9     3.759    5.191  ...      1160.13      144.18      FL
10   15.6     2.964    3.900  ...       913.15      142.80      GA
11   17.5     9.450    7.175  ...       861.18      120.92      HI
12   15.3     5.508    4.437  ...       641.96       82.75      ID
13   12.8     4.608    4.352  ...       803.11      139.15      IL
14   14.5     3.625    4.205  ...       710.46      108.92      IN
15   15.7     2.669    3.925  ...       649.06      114.47      IA
16   17.8     4.806    4.272  ...       780.45      133.80      KS
17   21.4     4.066    4.922  ...       872.51      137.13      KY
18   20.5     7.175    6.765  ...      1281.55      194.78      LA
19   15.1     5.738    4.530  ...       661.88       96.57      ME
20   12.5     4.250    4.000  ...      1048.78      192.70      MD
21    8.2     1.886    2.870  ...      1011.14      135.63      MA
22   14.1     3.384    3.948  ...      1110.61      152.26      MI
23    9.6     2.208    2.784  ...       777.18      133.35      MN
24   17.6     2.640    5.456  ...       896.07      155.77      MS
25   16.1     6.923    5.474  ...       790.32      144.45      MO
26   21.4     8.346    9.416  ...       816.21       85.15      MT
27   14.9     1.937    5.215  ...       732.28      114.82      NE
28   14.7     5.439    4.704  ...      1029.87      138.71      NV
29   11.6     4.060    3.480  ...       746.54      120.21      NH
30   11.2     1.792    3.136  ...      1301.52      159.85      NJ
31   18.4     3.496    4.968  ...       869.85      120.75      NM
32   12.3     3.936    3.567  ...      1234.31      150.01      NY
33   16.8     6.552    5.208  ...       708.24      127.82      NC
34   23.9     5.497   10.038  ...       688.75      109.72      ND
35   14.1     3.948    4.794  ...       697.73      133.52      OH
36   19.9     6.368    5.771  ...       881.51      178.86      OK
37   12.8     4.224    3.328  ...       804.71      104.61      OR
38   18.2     9.100    5.642  ...       905.99      153.86      PA
39   11.1     3.774    4.218  ...      1148.99      148.58      RI
40   23.9     9.082    9.799  ...       858.97      116.29      SC
41   19.4     6.014    6.402  ...       669.31       96.87      SD
42   19.5     4.095    5.655  ...       767.91      155.57      TN
43   19.4     7.760    7.372  ...      1004.75      156.83      TX
44   11.3     4.859    1.808  ...       809.38      109.48      UT
45   13.6     4.080    4.080  ...       716.20      109.61      VT
46   12.7     2.413    3.429  ...       768.95      153.72      VA
47   10.6     4.452    3.498  ...       890.03      111.62      WA
48   23.8     8.092    6.664  ...       992.61      152.56      WV
49   13.8     4.968    4.554  ...       670.31      106.62      WI
50   17.4     7.308    5.568  ...       791.14      122.04      WY

[51 rows x 8 columns]>

In [42]:
["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]
# ['NUM_' + col.upper() for col in df.columns if df[col].dtype != 'O' ]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

###### List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız

In [43]:
[col.upper() + '_FLAG' if 'no' not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

##### List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [47]:
og_list = ['abbrev', 'no_previous']

In [56]:
new_col = [col for col in df.columns if col not in og_list]
new_df = df[new_col]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63