###### Verilen değerlerin veri yapılarını inceleyin.

In [9]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1,2,3,4]
d = {"Name":"Jake",
    "Age": 27,
     "Adress":"Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python","Machine Learning","Data Science"}

In [12]:
def tip_sorgu(data):
    print(data,"Turu: ",type(data))
    print("****")

tip_sorgu(x)
tip_sorgu(y)
tip_sorgu(z)
tip_sorgu(a)
tip_sorgu(b)
tip_sorgu(c)
tip_sorgu(l)
tip_sorgu(d)
tip_sorgu(t)
tip_sorgu(s)

8 Turu:  <class 'int'>
****
3.2 Turu:  <class 'float'>
****
(18+8j) Turu:  <class 'complex'>
****
Hello World Turu:  <class 'str'>
****
True Turu:  <class 'bool'>
****
False Turu:  <class 'bool'>
****
[1, 2, 3, 4] Turu:  <class 'list'>
****
{'Name': 'Jake', 'Age': 27, 'Adress': 'Downtown'} Turu:  <class 'dict'>
****
('Machine Learning', 'Data Science') Turu:  <class 'tuple'>
****
{'Data Science', 'Machine Learning', 'Python'} Turu:  <class 'set'>
****

###### Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

In [21]:
text = "The goal is to turn data into information,and information into insight."

In [28]:
text.upper().replace("."," ").replace(","," ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

###### Verilen listeye aşağıdaki adımları uygulayınız.
###### Adım 1: Verilen listenin eleman sayısına bakınız.
###### Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
###### Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
###### Adım 4: Sekizinci indeksteki elemanı siliniz.
###### Verilen listeye aşağıdaki adımları uygulayınız.
###### Adım 5: Yeni bir eleman ekleyiniz.
###### Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [50]:
text = ['D','A','T','A','S','C','I','E','N','C','E']

In [51]:
print("Eleman sayisi:",len(text))

Eleman sayisi: 11

In [52]:
print(f"0. indeks: {text[0]}")
print(f"10. indeks: {text[10]}")

0. indeks: D
10. indeks: E

In [53]:
text[0:4]

['D', 'A', 'T', 'A']

In [54]:
text.pop(8)

'N'

In [55]:
text

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [56]:
text.append("X")

In [57]:
text

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'X']

In [58]:
text.insert(8,'N')

In [60]:
text

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'X']

###### Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###### Adım 1: Key değerlerine erişiniz.
###### Adım 2: Value'lara erişiniz.
###### Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
###### Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
###### Adım 5: Antonio'yu dictionary'den siliniz

In [61]:
dict = {"Christian":["America",18],
        "Daisy":["England",12],
        "Antonio":["Spain",22],
        "Dante":["Italy",25]}

In [62]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [64]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [67]:
dict.update({'Daisy':['England',13]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [68]:
dict.update({'Ahmet':['Turkey',24]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [69]:
dict.pop("Antonio")

['Spain', 22]

In [70]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

###### Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

In [82]:
l = [2,13,18,93,22]

In [83]:
def tek_cift(list):
    arr_tek = []
    arr_cift = []
    for eleman in list:
        if eleman % 2 == 0:
            arr_cift.append(eleman)
        else:
            arr_tek.append(eleman)
    return arr_cift,arr_tek

In [88]:
 cift, tek = tek_cift(l)

In [113]:
# List comp.
def func(list):
    cift_list = [x for x in list if x % 2 == 0]
    tek_list = [x for x in list if x % 2 != 0]

    return cift_list, tek_list

cift, tek = func(l)

###### Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [78]:
ogrenciler = ['Ali','Veli','Ayse','Talat','Zeynep','Ece']

In [94]:
for indeks, eleman in enumerate(ogrenciler,1):
    if indeks<4:
        print(f"Muhendislik Fakultesi {indeks}. ogrenci: {eleman}")
    else:
        print(f"Tip Fakultesi {indeks-3}. ogrenci: {eleman}")

Muhendislik Fakultesi 1. ogrenci: Ali
Muhendislik Fakultesi 2. ogrenci: Veli
Muhendislik Fakultesi 3. ogrenci: Ayse
Tip Fakultesi 1. ogrenci: Talat
Tip Fakultesi 2. ogrenci: Zeynep
Tip Fakultesi 3. ogrenci: Ece

###### Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [103]:
ders_kodu =["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [104]:
for kod, kredi, kontenjan in zip(ders_kodu,kredi,kontenjan):
    print(f"Kredisi {kredi} olan {kod} kodlu dersin kontenjani {kontenjan} kisidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjani 30 kisidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjani 75 kisidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjani 150 kisidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjani 25 kisidir.

###### Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir

In [105]:
kume1 = set(['data','python'])
kume2 = set(['data','function','qcut','lambda','python','miuul'])

In [109]:
def kume(kume1, kume2):
    if kume1.issuperset(kume2):
        print(kume1.intersection(kume2))
    else:
        print(kume2.difference(kume1))

In [110]:
kume(kume1,kume2)

{'miuul', 'function', 'lambda', 'qcut'}